<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina EJS com parametros</title>
</head>
<body>
    <h1>Pagina com EJS e prametros</h1>
    <br>
    <ul>
        <li><%= nome %></li>
        <li><%= lang %></li>
        <li><%= empresa %></li>
        <li><%= inscritos %></li>
    </ul>
    
</body>
</html>